<html>
    <body>
        <p>Hello {{ site_name }} user,</p>

        <p>
            Please click on this button to verify your email:
            <form action="{{ verify_link }}" method="post">
                <input type="submit" value="Verify Email" />
            </form>
        </p>

        <p>The {{ site_name }} team</p>
    </body>
</html>
