<html>
    <body>
        <p>Hello {{ site_name }} user,</p>

        <p>
            Please click on this button to verify your email:
            <br>
            <br>
            <a href="{{ verify_link }}">Verify Email</a>
        </p>
        
        <p>The {{ site_name }} team</p>
    </body>
</html>
