<html>
    <body>
        <p>Hello {{ site_name }} user,<p>

        <p>You can reset your password here: <a href="{{ reset_link }}">{{ reset_link }}</a></p>

        <p>If you received this without requesting a password reset, you can ignore it.</p>

        <p>The {{ site_name }} team</p>
    </body>
</html>
