[run]
branch = True
source = app
omit =
    _db/*
    local_config.py
    setup.py
    migrations/*
    tasks/*
    virtualenv/*

[report]
exclude_lines =
    pragma: no cover
    # NOCC
    raise NotImplementedError
    if __name__ == .__main__.:
precision = 1
ignore_errors = True
omit =
    tests/*

[html]
directory = ./_coverage/html/

[xml]
output = ./_coverage/coverage.xml
