.git*
.dockerignore
.DS_Store

.github/
.coveragerc
.editorconfig
.pre-commit-config.yaml
.pylintrc
.pytest_cache
.travis.yml

_assets/
_db.initial.tar.gz

*.egg-info/

Dockerfile
Procfile

example.db
dist.*.tar.gz

_db/
_frontend/
clients/
docs/
tests/
# Maintains the requirements file for setup.py logic
!tests/requirements.txt
devops/
virtualenv/
deploy/

__pycache__
*.pyc

cookie.jar
pip-wheel-metadata/
local_config.py.template
