<html>
        <body>
                <p>Hello {{ site_name }} user,</p>

                <p>{{ sender_name }} approved your collaboration request. You should now be able to view data on <a href="{{ site_url_prefix }}/users/{{ sender_guid }}">their profile</a>.</p>

                <p>Happy collaborating,<br />
                The {{ site_name }} team</p>
        </body>
</html>
