<html>
        <body>
                <p>Hello {{ site_name }} user,</p>

                <p>We are writing to inform you that {{ sender_name }} revoked edit privileges on your collaboration. You can view the status of your collaboration with {{ sender_name }} on your <a href="{{ base_url }}">homepage</a>.</p>

                <p>Best,<br />
                The {{ site_name }} team</p>
        </body>
</html>
