<html>
        <body>
                <p>Hello {{ site_name }} user,</p>

                <p>{{ sender_name }} sent you a collaboration request. To respond to their request, visit your <a href="{{ site_url_prefix }}">homepage</a>.</p>

                <p>Happy collaborating,<br />
                The {{ site_name }} team</p>
        </body>
</html>
