<html>
        <body>
                <p>Hello {{ site_name }} user,</p>

                <p>Unfortunately your collaboration edit request to {{ sender_name }} was denied. This usually happens when the recipient prefers to keep their data private. You can view the status of your collaborations on your <a href="{{ base_url }}">homepage</a>.</p>

                <p>Happy collaborating,<br />
                The {{ site_name }} team</p>
        </body>
</html>
