<html>
				<body>
								<p>Hello {{ site_name }} user,</p>

								<p>We are writing to inform you that the merge between {{ target_individual_name }} and {{ source_names_list }} is now complete. The <a href="{{ site_url_prefix }}/individuals/{{ target_individual_guid }}">new individual's profile</a> contains merged data from the original individuals.</p>

								<p>Best,<br />
								The {{ site_name }} team</p>
				</body>
</html>
