<html>
				<body>
								<p>Hello {{ site_name }} user,</p>

								<p>{{ sender_name }} has blocked your merge request of {{ target_individual_name }} and {{ source_names_list }}.</p>

								<p>Best,<br />
								The {{ site_name }} team</p>
				</body>
</html>
