name: Docker

on: [push, workflow_dispatch]
#  schedule:
#    - cron: '0 16 * * *' # Every day at 16:00 UTC (~09:00 PT)

jobs:
  # Push container image to GitHub Packages and Docker Hub.
  # See also https://docs.docker.com/docker-hub/builds/
  deploy:
    if: github.event.pull_request.head.repo.full_name == github.repository
    name: Docker image build
    runs-on: ubuntu-latest

    steps:
 #     - uses: actions/checkout@v2
 #       if: github.event_name == 'schedule'
 #       with:
 #         submodules: true
 #         ref: main

      - uses: actions/checkout@v2
 #       if: github.event_name != 'schedule'
        with:
          submodules: true

      - uses: docker/setup-qemu-action@v1
        name: Set up QEMU
        id: qemu
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - uses: docker/setup-buildx-action@v1
        name: Set up Docker Buildx
        id: buildx

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      # Build images
      - name: Build Codex
        run: |
          ./scripts/codex/buildx.sh

      # Log into container registries
      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKER_USER_SECRET }}
          password: ${{ secrets.DOCKER_TOKEN_SECRET }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # Push tagged image (version tag + latest) to registries
      - name: Tagged Docker Hub
        if: ${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') }}
        run: |
          VERSION=$(echo ${GITHUB_REF} | sed 's#.*/v##')
          ./scripts/utils/buildx.docker.sh -t ${VERSION}
          ./scripts/utils/buildx.docker.sh -t latest

      - name: Tagged GHCR
        if: ${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') }}
        run: |
          VERSION=$(echo ${GITHUB_REF} | sed 's#.*/v##')
          ./scripts/utils/buildx.docker.sh -t ${VERSION} -r ghcr.io/wildmeorg/houston
          ./scripts/utils/buildx.docker.sh -t latest -r ghcr.io/wildmeorg/houston

      # Push bleeding-edge image (main tag) to registries
      - name: Bleeding Edge Docker Hub
        run: |
          ./scripts/utils/buildx.docker.sh -t main

      - name: Bleeding Edge GHCR
        run: |
          ./scripts/utils/buildx.docker.sh -t main -r ghcr.io/wildmeorg/houston

      # Push nightly image (nightly tag) to registries
      #- name: Nightly Docker Hub
      #  if: github.event_name == 'schedule'
      #  run: |
      #    ./scripts/utils/buildx.docker.sh -t nightly

      #- name: Nightly GHCR
      #  if: github.event_name == 'schedule'
      #  run: |
      #    ./scripts/utils/buildx.docker.sh -t nightly -r ghcr.io/wildmeorg/houston
