# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Testing

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Use the same Python version used the Dockerfile
        python-version: [3.9]

    steps:
      # Checkout and env setup
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-lint
          restore-keys: |
            ${{ runner.os }}-pip-lint

      # Lint things before going any further
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --show-source --statistics
          # exit-zero treats all errors as warnings.
          flake8 . --count --exit-zero --max-complexity=10 --statistics

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Use the same Python version used the Dockerfile
        python-version: [3.9]
        db-uri: ["postgresql://houston:development@db/houston_test", "sqlite://"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
      TEST_DATABASE_URI: ${{ matrix.db-uri }}
      COMPOSE_FILE: deploy/codex/docker-compose.yml
    steps:
      # Checkout and env setup
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt', 'requirements/*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install libmagic on Ubuntu
        run: |
          sudo apt install libmagic1

      - name: Create frontend static directory (tests complains if static directory does not exist)
        run: |
          mkdir -p app/static/dist-latest
          touch app/static/dist-latest/404.html
          touch app/static/dist-latest/index.html

      - name: Run docker-compose
        run: |
          set -ex
          cd deploy/codex
          docker-compose up -d db redis gitlab edm houston acm
          # Check the state of the containers
          sleep 1m
          # Wait until houston is up
          while sleep 15
          do
            docker-compose logs houston | tail
            docker-compose ps
            if [ -n "$(docker-compose ps | grep Exit)" ]
            then
              exit 1
            fi
            wget --tries=1 -O - http://localhost:83/ && break
          done
        env:
          # docker-compose.yml mounts ../.. so we need to be in the
          # deploy/codex directory
          COMPOSE_FILE: 'docker-compose.yml'

      # Install and test - Test order is randomized, run three times to ensure correctness
      - name: Run tests (random x3)
        run: |
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v

      - name: Check DB migrations (sqlite)
        if: matrix.db-uri == 'sqlite://'
        run: |
          # initialize the database
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.upgrade --no-backup
          # downgrade to the previous migration step
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.downgrade
          # upgrade to the latest version
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.upgrade
        env:
          # Don't use in memory sqlite database for database migration
          SQLALCHEMY_DATABASE_URI: ''

      - name: Check DB migrations (postgresql)
        if: matrix.db-uri != 'sqlite://'
        run: |
          set -ex
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run /usr/local/bin/invoke app.db.upgrade --no-backup
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db.downgrade
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db.upgrade --no-backup
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston /bin/bash -c 'if [ -n "$(coverage run --append /usr/local/bin/invoke app.db.migrate)" ]; then echo Missing database migration; exit 1; fi'

      - name: Run tests after DB checks
        run: |
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest --no-cov -s -v

      - name: Run Codecov
        continue-on-error: true
        run: |
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v --cov=./ --cov-append
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v -m separate tests/test_transactions.py::test_transactions[None-request_transaction] --cov-append
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v -m separate tests/test_transactions.py::test_transactions[None-commit_or_abort] --cov-append

      - name: Run other invoke tasks for coverage and errors
        run: |
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston ./scripts/run_tasks_for_coverage.sh
          docker-compose exec -T -e FLASK_CONFIG=$FLASK_CONFIG -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./_coverage/coverage.xml
          env_vars: OS,PYTHON,TEST_DATABASE_URI
          fail_ci_if_error: true
