# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Testing

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Use the same Python version used the Dockerfile
        python-version: [3.9]

    steps:
      # Checkout and env setup
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-lint
          restore-keys: |
            ${{ runner.os }}-pip-lint

      # Lint things before going any further
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --show-source --statistics
          # exit-zero treats all errors as warnings.
          flake8 . --count --exit-zero --max-complexity=10 --statistics

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Use the same Python version used the Dockerfile
        python-version: [3.9]
        db-uri: ["postgresql://houston:development@db/houston_test", "sqlite://"]
        app-context: ["codex", "mws"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
      TEST_DATABASE_URI: ${{ matrix.db-uri }}
      DOCKER_BUILDKIT: 1
      HOUSTON_APP_CONTEXT: ${{ matrix.app-context }}
    steps:
      # Checkout and env setup
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt', 'requirements/*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install libmagic on Ubuntu
        run: |
          sudo apt install libmagic1

      - name: Setup App Context
        run: |
          set -ex
          ./scripts/${HOUSTON_APP_CONTEXT}/activate.sh

      - name: Run docker-compose (MWS)
        if: matrix.app-context == 'mws'
        run: |
          set -ex
          docker-compose up -d db redis elasticsearch acm houston

      - name: Run docker-compose (Codex)
        if: matrix.app-context == 'codex'
        run: |
          set -ex
          docker-compose up -d db redis elasticsearch acm edm houston

      - name: Check docker-compose status
        run: |
          set -ex
          # Check the state of the containers
          sleep 1m
          # Wait until houston is up
          while sleep 15
          do
            docker-compose logs houston | tail
            docker-compose ps
            if [ -n "$(docker-compose ps | grep Exit)" ]
            then
              exit 1
            fi
            wget --tries=1 -O - http://localhost:83/houston/ && break
          done

      - name: Run tests
        run: |
          set -ex
          docker-compose exec -T -e TEST_DATABASE_URI=$TEST_DATABASE_URI houston pytest -s -v --cov=./ --cov-append --random-order-seed=1

      - name: Check DB migrations (sqlite)
        if: matrix.db-uri == 'sqlite://' && matrix.app-context == 'codex'
        run: |
          # initialize the database
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.upgrade --no-backup
          # downgrade to the previous migration step
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.downgrade
          # upgrade to the latest version
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.upgrade
          # downgrade all the way down to the base database version
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.downgrade --revision base
          # upgrade to the latest version
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db.upgrade
          # Check if there is a missiong database migration
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston /bin/bash -c 'if [ -n "$(/usr/local/bin/invoke app.db.migrate)" ]; then echo Missing database migration; exit 1; fi'
          # reset database
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$SQLALCHEMY_DATABASE_URI houston invoke app.db._reset
        env:
          # Don't use in memory sqlite database for database migration
          SQLALCHEMY_DATABASE_URI: ''
          LOG_WIDTH: 120

      - name: Check DB migrations (postgresql)
        if: matrix.db-uri != 'sqlite://' && matrix.app-context == 'codex'
        run: |
          set -ex
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run /usr/local/bin/invoke app.db.upgrade
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db.downgrade
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db.upgrade
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db.downgrade --revision base
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db.upgrade
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston /bin/bash -c 'if [ -n "$(coverage run --append /usr/local/bin/invoke app.db.migrate)" ]; then echo Missing database migration; exit 1; fi'
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage run --append /usr/local/bin/invoke app.db._reset
        env:
          LOG_WIDTH: 120

      - name: Run other invoke tasks for coverage and errors
        if: matrix.app-context == 'codex'
        run: |
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston ./scripts/tests/run_tasks_for_coverage.sh
          docker-compose exec -T -e LOG_WIDTH=$LOG_WIDTH -e SQLALCHEMY_DATABASE_URI=$TEST_DATABASE_URI houston coverage xml
        env:
          LOG_WIDTH: 120

      - name: Upload coverage to Codecov
        if: matrix.app-context == 'codex'
        uses: codecov/codecov-action@v1.2.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./_coverage/coverage.xml
          env_vars: OS,PYTHON,TEST_DATABASE_URI
          fail_ci_if_error: true
